{{> userheader}}

<h1>Forget Password</h1>

 



<form action="" method="post">

<input type="password" name="password" placeholder="enter password"  >
<input type="hidden" name="user_id" value="{{user_id}}">
    <br><br>

<input type="submit" value="Reset Password">


</form>

<a href="/forget ">Forget password</a>

{{> userfooter}}