<!-- <% include('../layouts/header.ejs') %>

    <h1>User Registration Form</h1>

    <form action="" method="post" enctype="multiple/form-data">
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="text" name="mobile" placeholder="Enter Mobile" required>
        <br><br>
        <input type="password" name="password" placeholder="Enter password" required>
        <br><br>

        <input type="submit" value="Register">
        <br><br>


    </form>

    <% 
        if (typeof message !==  'undefined' ){ 
            %>
            <p style="color: green;"><%= message %></p>
            <%
        } 
    %>
    
<% include('../layouts/footer.ejs') %> -->






<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    
    
      </style>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  



<% include('../layouts/header.ejs') %>


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <fieldset disabled="disabled"></fieldset>

                <form action="" method="post" enctype="multiple/form-data">
              
  
                <h2 class="fw-bold mb-2 text-uppercase">User Registration Form</h2>
                <br>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="name" name="name"  placeholder="Enter name " class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">Name</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="email" name="email" placeholder="Enter Email"  class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Email</label>
                </div>

                  <div class="form-outline form-white mb-4">
                    <input type="text" name="mobile" placeholder="Enter Mobile"  class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">Mobile</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" name="password"  placeholder="Enter password"   class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX">Password</label>
                  </div>
                  <br>
                  <% 
                  if (typeof message !==  'undefined' ){ 
                      %>
                      <p style="color:rgb(240, 247, 240);"><%= message %></p>
                      <%
                  } 
              %>

             

                  <input class="btn btn-outline-light btn-lg px-5"  type="submit" value="Register">
                  <br><br>
              </form>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% include('../layouts/footer.ejs') %> 


</body>
</html>